<h2>Conectando</h2>
<form method="post">
    <input type="text" name="Email" placeholder="E-mail">
    <input type="password" name="Password" placeholder="Password">
    <button type="submit">Enviar</button>
</form>